/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.title-l{
    font-size: 2.75rem;
    font-weight: 600;
}
.title-m{
    font-size: 2.25rem;
    font-weight: 500;
}
.text{
    font-size: 0.875rem;
    font-weight: 400;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    // padding: 0 1rem;
}
section{
    height: 100svh;
    display: flex;
    align-items: flex-end;
}